body {
  margin: 0;
  padding: 0;
}
.navbar {
  transition: background-color 0.3s;
}
.navbar-transparent {
  background-color: transparent;
}
.navbar-scrolled {
  background-color: #E1DFDD;
}

.nav-item .nav-link {
  font-family: 'Poppins';
  font-size: 14px;
}


/* NAME */
#website_name_section {
  margin-top: 70px;
  margin-bottom: 20px;
}
.website-name {
  color: rgb(255, 92, 28);
  font-weight: bold;
  font-size: 10vw; /* Responsive size based on viewport width */
}
.website-subtitle {
  color: rgb(249, 249, 249);
  font-weight: bold;
  font-size: 2vw; /* Responsive size based on viewport width */
}
/* Media queries for better control */
@media (max-width: 1200px) {
  .website-name {
    font-size: 8vw;
  }
  .website-subtitle {
    font-size: 1.5vw;
  }
}
@media (max-width: 992px) {
  .website-name {
    font-size: 7vw;
  }
  .website-subtitle {
    font-size: 1.5vw;
  }
}


/* SLIDER */
#truk_kami_section .container 
.carousel .carousel-inner img{
  transition: 0.3s;
}

#truk_kami_section .container 
.carousel .carousel-inner img:hover{
  transform: scale(1.1);
}



/* Back to Top */
.back-to-top{
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  z-index: 999;
}




/* INDEX 2 */
body {
  margin: 0;
  padding: 0;
}
.navbar {
  transition: background-color 0.3s;
}
.navbar-transparent {
  background-color: transparent;
  .nav-link {
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

  }
}
.navbar-scrolled {
  background-color: #E1DFDD;
}

.nav-item .nav-link {
  font-family: 'Poppins';
  font-size: 14px;
}

.nav-item .nav-link:hover {
  text-decoration: underline;
}

/* BANNER */
.banner {
  position: relative;
  width: 100%;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner-text .text1,
.banner-text .text2,
.banner-text .banner-btn {
  position: absolute;
  left: 100px;
  transform: translateY(-50%);
  text-align: left;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.banner-text .text1 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 45px;
  top: 40%;
}

.banner-text .text2 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  top: 47%;
}

.banner-text .banner-btn {
  font-family: 'Poppins';
  top: 60%;
  border: none;
  padding: 10px 50px;
  border-radius: 0px;
  background-color: #2e404c;
  color: white;
  transition: 0.3s;
}

.banner .banner-btn:hover {
  background-color: black;
  color: white;
  /* border: 1px solid #2e404c; */
}

.banner-text span {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

@media (max-width: 1200px) {
  .banner-text .text1 {
    font-size: 35px;
  }
  .banner-text .text2 {
    font-size: 18px;
  }
  .banner-text .banner-btn {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .banner-text .text1 {
    font-size: 30px;
  }
  .banner-text .text2 {
    font-size: 16px;
  }
  .banner-text .banner-btn {
    font-size: 12px;
  }
  .banner-text .text1,
  .banner-text .text2,
  .banner-text .banner-btn {
    left: 50px;
  }
}

@media (max-width: 768px) {
  .banner-text .text1 {
    font-size: 25px;
  }
  .banner-text .text2 {
    font-size: 14px;
  }
  .banner-text .banner-btn {
    font-size: 12px;
  }
  .banner-text .text1,
  .banner-text .text2,
  .banner-text .banner-btn {
    left: 30px;
  }
}

@media (max-width: 576px) {
  .banner-text .text1 {
    font-size: 20px;
  }
  .banner-text .text2 {
    font-size: 12px;
  }
  .banner-text .banner-btn {
    font-size: 8px;
  }
  .banner-text .text1,
  .banner-text .text2,
  .banner-text .banner-btn {
    left: 20px;
  }
}
/* BANNER END */


/* VISIMISI */
.img-card {
  position: relative;
}

.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.img-text .text1 {
  display: block;
  font-family: 'Poppins';
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.img-text .text2 {
  display: block;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.img-text .view-more-btn {
  border: none;
  font-size: 16px;
  background-color: black;
  color: white;
  padding: 10px 50px;
  border-radius: 50px;
  transition: 0.3s;
}
.img-text .view-more-btn:hover {
  background-color: white;
  color: black;
}
/* VISIMISI END */


/* TRUK */
.carousel-caption {
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 600;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .carousel-caption {
    font-size: 20px; /* Smaller font size on small screens */
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    font-size: 15px; /* Even smaller font size on extra small screens */
  }
}
/* TRUK */


/* CONTACT */
.contact-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 15px; */
}

#contactForm label {
  font-family: 'Poppins';
}

#contactForm input, #contactForm textarea {
  margin-bottom: 15px;
  border: 1px solid #b3b3b3;
  height: 30px;
  font-size: 14px;
}

#contactForm .kirim-btn {
  border: none;
  background-color: black;
  color: white;
  padding: 5px 30px;
  transition: 0.3s;
  width: 30%;
}

#contactForm .kirim-btn:hover {
  background-color: #2e404c;
}